h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2 {
  margin-bottom: 16px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
hr {
  margin-top: 40px;
  border-top: 1px solid #c4c4c4;
}

.fs32 {
  font-size: 32px;
}
.fs24 {
  font-size: 24px;
}
.fs16 {
  font-size: 16px;
}
.fs14 {
  font-size: 14px;
}
.fs12 {
  font-size: 12px;
}

body {
  margin: 0;
  background: #1d1d1d;
  color: #ffffff;
}

.header {
  position: fixed;
  width: 100vw;
  padding-top: 16px;
  background: #1d1d1d;
}
.contents {
  margin: 0 calc((100vw - 640px) / 2) 80px;
  padding-top: 88px;
}
.work-contents {
  margin: 0 calc((100vw - 800px) / 2) 80px;
  padding-top: 88px;
}

.header-menu {
  display: flex;
  position: relative;
}
.header-left {
  position: absolute;
  left: 64px;
}
.header-right {
  display: flex;
  position: absolute;
  right: 64px;
}
.header-item {
  margin-left: 16px;
}

.item-title {
  width: 130px;
  margin: 0 auto 48px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

.about-me {
  display: flex;
  justify-content: space-around;
  margin-bottom: 64px;
}
.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.name {
  font-size: 32px;
}

.work {
  display: flex;
  width: 640px;
  margin-bottom: 48px;
  border: 2px solid #c4c4c4;
}
.work:hover {
  border: 2px solid #3984ff;
}
.about-img {
  width: 225px;
  height: 150px;
}
.about {
  padding: 16px;
}

.big-title {
  margin-left: -16px;
  margin-bottom: 48px;
}
.title {
  margin-bottom: 12px;
  color: #ffffff;
}
.description,
.url {
  color: #c4c4c4;
}

.work-title {
  margin: 48px auto 32px;
}
.key-visual {
  width: 800px
}
.work-discription {
  margin: 48px auto;
}
.work-text-jp,
.work-text-en {
  margin-top: 24px;
}
.img-list {
  display: flex;
  flex-wrap: wrap;
}
.img-list-item {
  width: 392px;
  margin-bottom: 24px;
}
.img-list-item:nth-child(2n) {
  margin-left: 16px;
}